---
interface Props {
    image: string;
    title: string;
    numberTitle: string;
}

const { image, title, numberTitle } = Astro.props;
---

<section class="flex justify-center items-center w-full h-dvh">
    <img
        src={image}
        alt="Destinations Background"
        class={`absolute top-0 left-0 w-full min-h-full  md:h-full object-cover object-center z-[-1]`}
    />
    <div class="flex flex-col justify-center items-center gap-2 container">
        <h1 class="mb-5 lg:mb-8 w-full md:text-left text-center uppercase p1">
            <span class="font-bold text-gray-500 p1">{numberTitle}</span>
            {title}
        </h1>

        <slot />
    </div>
</section>
